extends layout

block content
  h1= title
  p Welcome to #{title}

  table#tbl_data
      thead
          tr
              th Open
              th High
              th Low
              th Close
              th Volume
              th isFinal
      tbody
