doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //script(src="/socket.io/socket.io.js")
    script(src="/javascripts/jquery-3.2.1.min.js")
  body
    block content
